<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">
  <property name="PATTERN" value="%date{yyyy/MM/dd HH:mm:ss.SSS}[%p]%m %C{1}.%M[%line][%t]%n" />
  <property name="LOG_PATH" value="" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${PATTERN}</pattern>
      <immediateFlush>true</immediateFlush>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}logback_sample_log.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${LOG_PATH}logback_sample_log.log.%d{yyyy-MM-dd}</FileNamePattern>
      <MaxHistory>10</MaxHistory>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>error</level>
    </filter>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%date{yyyy/MM/dd HH:mm:ss.SSS}[%p]%m %C{1}.%M\(%line\)[%t]%n</pattern>
      <immediateFlush>true</immediateFlush>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE" />
  </root>

</configuration>
